<!DOCTYPE html>
<html>
<head>
  <title>Airpic!</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="https://checkout.stripe.com/v2/checkout.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

<% if notice %>
  <p><%= notice %></p>
<% end %>
<% if alert %>
  <p><%= alert %></p>
<% end %>

<script> function contactAlert(){ alert('Please email nickmcd@gmail.com with questions.') } </script>
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
      <a class="navbar-brand" href="/">Airpic!</a>
    </div>

		<% if user_signed_in? %>
		  <%= render 'layouts/nav_signed_in' %>
		<% else %>
		  <%= render 'layouts/nav_signed_out' %>
		<% end %>

	</div>
</nav>

<% if user_signed_in? %>
	<%= render 'layouts/nav_sidebar' %>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<%= yield %>
	</div>
	</div></div><!-- end side nav -->
<% else %>
	<%= yield %>
<% end %>

</div>
</body>
</html>